<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  
  <style>
    div.container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 0 auto;
    }
    
    section {
      border: 1px solid goldenrod;
      padding: 1em;
      margin: 1em;
    }
  </style>
  
</head>
<body>
  <header>
    <h1>Pub Landing Page</h1>
  </header>

  {{ content | safe }}
  
</body>
</html>