<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <style>

  
    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }
    
    section {
      display: flex;
      justify-content: space-between;
      align-item: center;
    }

    /*Spotify CSS*/
    .spotify_row h2,
    .spotify_row h3,
    .spotify_row p {
      font-family: 'Montserrat', sans-serif;
      color: #000;
    }

    .spotify_row {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
    }
    .spotify_row .container {
      background-color: #1db954;
      display: flex;
      align-items: flex-start !important;
    }
    .spotify_row .col-sm-6 {
      width: calc(50% - 20px);
      display: inline-block;
      padding: 30px;
    }
    .spotify_row .col-sm-12 {
      width: 100%;
      display: inline-block;
    }
    .spotify_row .col-sm-6:last-child {
      margin-left: 20px;
    }
    .spotify_row iframe {
      width: 100% !important;
    }
    .spotify_row h3,
    .spotify_row p {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .spotify_row #more {
      display: none;
    }
    .spotify_row h2 {
      padding-left: 30px;
    }
    .spotify_row #read-more-btn {
      color: #1dba54;
      background-color: white;
      box-shadow: unset;
      border: 1px solid #1dba54;
      padding: 10px 20px;
      margin-top: 10px;
      font-family: Montserrat;
      border-radius: 20px;
      font-weight: 600;
      transition: all ease 0.2s;
      cursor: pointer;
      outline: none;
    }
    .spotify_row #read-more-btn:hover {
      color: #fff;
      background: none;
      border-color: #fff;
    }
    iframe.followLink {
      margin-top: 10px;
      background-color: white;
      padding: 10px;
      border: none;
      overflow: hidden;
      width: 250px !important;
      box-shadow: 0 5px 10px #0000000f;
    }
    /*Spotify CSS END*/

    /*MailChimp CSS START*/

    .mailchimp_container #mc_embed_signup { 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;
    border: 5px solid #444;
    background-color: #eee; 
}

  .mailchimp_container h2 {
  font-size: 10ems;
  font-weight: 300;
  color: #768d87;
  filter: brightness(80%);
}

.mailchimp_container #mc-embedded-subscribe {
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color:#768d87;
  border-radius:20px;
  border:1px solid #566963;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
}

.mailchimp_container #mc-embedded-subscribe:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

.mailchimp_container #mc-embedded-subscribe:active {
	position:relative;
	top:1px;
}


    /*Mailchimp CSS END*/

    /*YouTube CSS START */

    .YouTube_container {
                text-align: center;
                background-color: #000;
                padding: 50px;
            }
            .YouTube_container iframe {
                border-radius: 15px;
                background-color: black;
                padding: 2px;
                box-shadow: 0 10px 90px 0 purple;
                margin-bottom: 50px;
            }
            .YouTube_container button {
                text-align: center;
                text-decoration: none;
                display: inline-block;
                cursor: pointer;
                outline: none;
                border: none;
                font-size: 15px;
                margin: 5px 1px;
                padding: 15px 30px;
                border-radius: 15px ;
                transition-duration: 0.4s;
                box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2), 0 5px 20px 0 rgba(0,0,0,0.2);
            }
            .YouTube_container button:hover {
                background-color: purple;
                color: white;
            }
            .YouTube_container button:active {
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            .YouTube_container .buttonSelected {
                background-color: purple;
                color: white;
            }

    /*YouTube CSS END */

    /* EventBrite CSS START */

     .ticket_purchasing_container {
      font-family: 'Montserrat', sans-serif;
      display: inline-flex;
      flex-direction: column;
      position: relative;
      max-width: 100%;
      width: 700px;
    }
    .ticket_purchasing_container span,
    .ticket_purchasing_container div, 
    .ticket_purchasing_container button {
      font-family: inherit;
    }
    .ticket_purchasing_container_inner::before {
      content: "";
      display:block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5;
    }
    .ticket_purchasing_container .ticket_purchasing_container_inner {
      display: flex;
      padding: 20px 20px;
    }
    .ticket_purchasing_container .bg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/images/foo.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
    }
    .ticket_purchasing_container h5,
    .ticket_purchasing_container span {
      position: relative;
      margin: 0;
      color: white;
    }
    .ticket_purchasing_container h5 {
      font-weight: 300;
    }
    .ticket_purchasing_container h5 {
      font-size: 40px;
      position: relative;
      margin-bottom: 20px;
    }
    .ticket_purchasing_container h5::after {
      content: "";
      display: block;
      position: absolute;
      top: 120%;
      left: 0;
      width: 100%;
      background-color: white;
      height: 1px;
    }
    .ticket_purchasing_container span {
      font-size: 16px;
      font-weight: 500;
    }
    .ticket_purchasing_container .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      padding: 10px;
      padding-bottom: 0;
      padding-top: 0;
    }
    .ticket_purchasing_container .info .price {
      display: flex;
      justify-content: space-between;
    }
    .ticket_purchasing_container .btn {
      position: relative;
      display: block;
      margin: 0 auto 20px;
      padding: 15px 20px;
      border: 1px solid white;
      border-radius: 5px;
      background-color: transparent;
      color: white;
      text-transform: uppercase;
      font-size: 16px;
      transition: all .5s;
    }
    .ticket_purchasing_container .btn:hover {
      background-color: white;
      color: black;
    }


    /* EventBrite CSS END */

    /* Footer CSS START */

    .footer-container {
     color: #fff;
    padding: 1em;
    background-color: #051e53;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
​
.col-sm-3 {
    width: 25%;
}
​
.col-sm-6 {
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

    /* Footer CSS END */



  </style>

  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  
</head>
<body>

<div class="main-container">
<img src="/images/logo.png" alt="logo">

  <header>
  <img src="https://www.impericon.com/media/impericon/header/merchandise/foo_fighters/20170621_foo_fighters_header_mobile.jpg" alt="foo fighters" >
  
    <h1>{{ title }}</h1>
  </header>

  {{ content | safe }}
  

  <!-- Spotify JS -->
  <script>
      function readMore() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("read-more-btn");

        if (dots.style.display === "none") {
          dots.style.display = "inline";
          btnText.innerHTML = "Read more";
          moreText.style.display = "none";
        } else {
          dots.style.display = "none";
          btnText.innerHTML = "Read less";
          moreText.style.display = "inline";
        }
      }
  </script>

  <script type="text/javascript">
            function getRandomInt(max) {
                return Math.floor(Math.random() * Math.floor(max)) + 1;
            }
            var trackIdArray = [
                "_u1SW0s9Hig",
                "ZKb0lQlCYOE",
                "TjVOWOKa-lY"
            ];
            function changeTrack(trackNumber) {
                document.getElementById("videoFrame").src = "https://www.youtube.com/embed/" + trackIdArray[trackNumber - 1];
                removeActive();
                addActive(trackNumber);
            }
            function changeTrackRandom(trackNumber) {
                var randomNumber = getRandomInt(3);
                console.log(randomNumber);
                document.getElementById("videoFrame").src = "https://www.youtube.com/embed/" + trackIdArray[randomNumber - 1];
                removeActive();
                addActive(randomNumber);
            }
            function removeActive() {
                document.getElementById("button1").classList.remove("buttonSelected");
                document.getElementById("button2").classList.remove("buttonSelected");
                document.getElementById("button3").classList.remove("buttonSelected");
            }
            function addActive(buttonNumber) {
                document.getElementById("button" + buttonNumber).classList.add("buttonSelected");
            }
        </script>


        <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
  <script>
      var exampleCallback = function() {
    };
    window.EBWidgets.createWidget({
      widgetType: "checkout",
      eventId: "110252893372",
      modal: true,
      modalTriggerElementId: "example-widget-trigger",
      onOrderComplete: exampleCallback
  });
  </script>


</div><!-- main-container ends -->
</body>
</html>