---
title: Foo Fighters LIVE - At Wattsit Arms
layout: base.njk
---

    <div class="spotify_row">

        <div class="container">

            <div class="col-sm-12">
                <h2>Have a listen...</h2>
            </div>

        </div>

        <div class="container">

            <div class="col-sm-6">

                <iframe src="https://open.spotify.com/embed/artist/7jy3rLJdDQY21OgRLCZ9sD" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                <iframe
                    class="followLink"
                    src="https://open.spotify.com/follow/1/?uri=spotify:artist:7jy3rLJdDQY21OgRLCZ9sD?si=Cxqw2lixRhmqqMYFhzIYBA&size=detail&theme=light"
                    width="300"
                    height="56"
                    scrolling="no"
                    frameborder="0"
                    style="border:none; overflow:hidden;"
                    allowtransparency="true"></iframe>

            </div>
            <div class="col-sm-6">

                <h3>More About Foo Fighters...</h3>
                <p>Foo Fighters is an American rock band, formed in Seattle, Washington, in 1994. It was founded by Nirvana drummer Dave Grohl as a one-man project following the dissolution of Nirvana after the suicide of Kurt Cobain. The group got its name from
                    "Foo fighter", a nickname coined by Allied aircraft pilots for UFOs and other aerial phenomena they reported seeing.</p>

                <p>Prior to the release of Foo Fighters' 1995 debut album Foo Fighters, which featured Grohl as the only official member, Grohl recruited bassist Nate Mendel and drummer William Goldsmith, both formerly of Sunny Day Real Estate, as well as Nirvana
                    touring guitarist Pat Smear to complete the lineup. The band began with performances in Portland, Oregon. Goldsmith quit during the recording of the group's second album, The Colour and the Shape (1997), when most of the drum parts were re-recorded
                    by Grohl himself. Smear's departure followed soon afterward, though he would appear as a guest with the band frequently starting in 2006, and would rejoin as an official full-time member in 2011.<span id="dots">...</span></p>

                <p>
                    <span id="more">They were replaced by Taylor Hawkins and Franz Stahl, respectively, although Stahl was fired before the recording of the group's third album, There Is Nothing Left to Lose (1999). The band briefly continued as a trio until Chris
                        Shiflett joined on guitar after the completion of There Is Nothing Left to Lose. The band released its fourth album, One by One, in 2002. The group followed that release with the two-disc In Your Honor (2005), which was split between acoustic songs
                        and heavier material. Foo Fighters released its sixth album, Echoes, Silence, Patience & Grace, in 2007. The band's seventh studio album, Wasting Light, produced by Butch Vig, was released in 2011, in which Smear returned as a full member. In
                        November 2014, the band's eighth studio album, Sonic Highways, was released as an accompanying soundtrack to the Grohl-directed 2014 miniseries of the same name. On September 15, 2017, the band released their ninth studio album, Concrete and Gold,
                        which became their second to reach number one in the United States and was the band's first studio album to feature longtime session and touring keyboardist Rami Jaffee as a full member.</span></p>

                <button onclick="readMore()" id="read-more-btn">Read More</button>

            </div>

        </div>

    </div>

		<section>

    <!-- Youtube -->

		<div class="YouTube_container">
            <iframe id="videoFrame" width="560" height="315" src="https://www.youtube.com/embed/_u1SW0s9Hig" frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"></iframe>
            <br />
            <div class="ButtonContainer">
                <button id="button1" class="buttonSelected" name="Track1" onclick="changeTrack(1)">Track 1</button> &nbsp;
                <button id="button2" name="Track2" onclick="changeTrack(2)">Track 2</button> &nbsp;
                <button id="button3" name="Track3" onclick="changeTrack(3)">Track 3</button> &nbsp;
                <button name="Random" onclick="changeTrackRandom()">Random</button>
            </div>
        </div>

		<!-- Youtube ends -->



   <!-- Eventbrite Start -->

	 <div class="ticket_purchasing_container">
    <div class="bg-img"></div>
    <div class="ticket_purchasing_container_inner">
      <div class="info">
        <h5>Foo Fighters Pub Sing</h5>
        <div class="price">
          <span>Price:</span>
          <span>£15.00</span>
        </div>
      </div>
    </div>
    <button id="example-widget-trigger" class="btn" type="button">Buy Tickets</button>
  </div>

	 <!-- Eventbrite End -->

</section>


		<div class="mailchimp_container">

		<!-- Begin Mailchimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
		<!-- <style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } 
			/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
				We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ 
		</style> -->
			
		<!-- Start of the Mailchimp form  -->
		<div id="mc_embed_signup">
		<form action="https://gmail.us10.list-manage.com/subscribe/post?u=9863a82eb8c557246b803f4e8&amp;id=fcfeb60601" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
			<h2>Subscribe to our newsletter</h2>
		<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
		<div class="mc-field-group">
			<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
		</label>
			<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
		</div>
		<div class="mc-field-group">
			<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
		</label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		</div>
		<div class="mc-field-group input-group">
				Have you been to one of our events before?
				<ul><li><input type="radio" value="Yes" name="MMERGE2" id="mce-MMERGE2-0"><label for="mce-MMERGE2-0">Yes</label></li>
		<li><input type="radio" value="No" name="MMERGE2" id="mce-MMERGE2-1"><label for="mce-MMERGE2-1">No</label></li>
		</ul>
		</div>
					
		<!-- The birthday and preferred genres questions - commented out -->
		<!-- <div class="mc-field-group size1of2">
			<label for="mce-BIRTHDAY-month">Birthday </label>
			<div class="datefield">
				<span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> / 
				<span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span> 
				<span class="small-meta nowrap">( mm / dd )</span>
			</div>
		</div><div class="mc-field-group input-group">
				<strong>Genre </strong>
				<ul><li><input type="checkbox" value="1" name="group[33109][1]" id="mce-group[33109]-33109-0"><label for="mce-group[33109]-33109-0">Rock / Indie / Metal</label></li>
		<li><input type="checkbox" value="2" name="group[33109][2]" id="mce-group[33109]-33109-1"><label for="mce-group[33109]-33109-1">Pop</label></li>
		<li><input type="checkbox" value="4" name="group[33109][4]" id="mce-group[33109]-33109-2"><label for="mce-group[33109]-33109-2">80s</label></li>
		<li><input type="checkbox" value="8" name="group[33109][8]" id="mce-group[33109]-33109-3"><label for="mce-group[33109]-33109-3">Karaoke</label></li>
		<li><input type="checkbox" value="16" name="group[33109][16]" id="mce-group[33109]-33109-4"><label for="mce-group[33109]-33109-4">Dance / Techno</label></li>
		<li><input type="checkbox" value="32" name="group[33109][32]" id="mce-group[33109]-33109-5"><label for="mce-group[33109]-33109-5">Soul / Jazz</label></li>
		</ul>
		</div> -->
					
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9863a82eb8c557246b803f4e8_fcfeb60601" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
		</form>
		</div> <!-- MAILCHIMP ENDS -->

<!-- FOOTER -->
<footer>
​
    <div class="footer-container">
        <div class="col-sm-3">
            
            <h4>wattsitarms</h4>
            <img src="#">
        </div>
        <div class="col-sm-6">
            <h4>about us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            
        </div>
        <div class="col-sm-3">
            <h4>follow</h4>
              <i class="fa fa-facebook" aria-hidden="true"></i><i class="fa fa-instagram" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i>
            
        </div>
    </div>
    
</footer>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='MMERGE2';ftypes[2]='radio';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  
<!--End mc_embed_signup-->
  
</div>
<!-- End of Mailchimp -->



