---
title: Foo Fighters LIVE - At Wattsit Arms
layout: base.njk
---

<div class="container">
    <section>Spotify</section>
    <section>YouTube</section>
    <section>Eventbrite</section>
    <section>Newsletter</section>
</div>